.App {
  text-align: center;
  background-color: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

.table-container th, .table-container td {
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background-color: var(--bg-color);
}